*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Orbitron', sans-serif;
}

body{
    height:100vh;
    overflow:hidden;
    background:#000;
}

/* Canvas Fullscreen */
#bgCanvas{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

/* Login Box */
.login-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:360px;
    padding:40px;
    background:rgba(0,0,0,0.75);
    border:2px solid #00f7ff;
    border-radius:16px;
    box-shadow:
      0 0 30px #00f7ff,
      0 0 60px #ff00ff;
    text-align:center;
    color:#fff;
}

.login-box h2{
    color:#00f7ff;
    margin-bottom:30px;
    letter-spacing:4px;
}

/* Input */
.input-box{
    display:flex;
    align-items:center;
    border:1px solid #00f7ff;
    border-radius:8px;
    padding:12px;
    margin-bottom:25px;
}

.input-box i{
    color:#00f7ff;
    margin-right:10px;
}

.input-box input{
    width:100%;
    background:transparent;
    border:none;
    outline:none;
    color:#fff;
    font-size:16px;
}

/* Button */
button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:linear-gradient(90deg,#00f7ff,#ff00ff);
    font-weight:bold;
    cursor:pointer;
    letter-spacing:2px;
}
